<div>
<h1 class="display-1" >Productos y actividades</h1>
<ul>
  {{#each products}}
    <li>
      <h2>{{this.code}}</h2>
      <p>{{this.category}} </p>
      <p>{{this.description}}</p>
      <p>{{this.price}}</p>
      <a href="/products/{{this._id}}">Ver detalles</a>
    </li>
  {{/each}}
</ul>

  {{#if pagination}}
    <ul class="pagination">
      <li><a href="?page={{pagination.prevPage}}">Anterior</a></li>
      {{#each pagination.pages}}
        <li><a href="?page={{this}}"> {{this}} </a></li>
      {{/each}}
      <li><a href="?page={{pagination.nextPage}}">Siguiente</a></li>
    </ul>
  {{/if}}
</div>
<hr>
<a href="/"><button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  Ir al Inicio
</button></a>
<a href="/current"><button type="button" class="btn btn-warning"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  Ir a mi session
</button></a>

