<div>
  <h1 class="display-1">Confirma tu compra {{user.email}}</h1>
  <ul>
    <li>Usuari@: {{user.email}}</li>
    <li>Carrito:{{user.cart}} </li>
    {{#each cart.products}}
    <li>
      {{this.code}}-{{this.price}}-{{this.cantidad}}
    </li>
{{/each}}
  </ul>
</div>
<hr>
<a href="/"><button type="button" class="btn btn-secondary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  Ir al Inicio
</button></a>

<a href="/products"><button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  Ir a Productos y Servicios 
</button></a>

<a href="/end"><button type="button" class="btn btn-warning"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  Finalizar la compra
</button></a>